@media (max-width: 767px) {
  nav.main-nav {
    border-radius: 10px 0px 0px 10px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 602px;
    max-height: 100vh; /* Thay đổi height thành max-height */
    padding-top: 30px; /* Giảm padding-top */
    background-color: #333; /* Default background, no transparency on mobile */
    transition: right 0.3s ease-in-out, background-color 0.3s ease; /* Add transition for background */
    z-index: 1000;
    box-shadow: -2px 0 6px rgba(0,0,0,0.2);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 0; /* Loại bỏ margin-top */
  }
}

footer {
    margin-bottom: -80px;
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    text-align: center; /* Center content */
    padding: 20px 0; /* Top and bottom padding */
    margin-top: 30px; /* Space above the footer */
}

footer .social-links a {
    color: #fff; /* White text color */
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Space between social links */
    transition-duration: 0.8s ease; /* Smooth color transition on hover */
}

footer .social-links a:hover {
    color: #ff6600; /* Change color on hover */
}